:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }
*{
    box-sizing: border-box;
    color: var(--text-color);
    
}
.texto-laranja{
    color: var(--color-logo)
}

body{
    background: var(--body-background) url("../assets/background.png") no-repeat;
    height:1000px;
    font-family:'MontSerrat', sans-serif;
}
.cabecalho{
    display: flex;
    width:1277px;
    margin: 57px auto 0;
    justify-content:space-between;
    align-items:center;
}
.cabecalho nav ul{
    display:flex;
    justify-content:space-between;
    width:341px;
}
.cabecalho nav a{
    color:var(--text-color);
    text-decoration:none;
    
    font-size:18px
}
.cabecalho nav a:hover{
    text-decoration: underline;
}
.cabecalho__btn{
    display: flex;
    align-items:center;
    width: 230px;
    height:50px;
}
.cabecalho__btn img{
    width: 30px;
    height:auto;
}
.cabecalho__btn span{
    font-size:16px;
    font-weight:700;
    margin-left:15px;
    color:var(--black-text)
}
.topo{
    display: flex;
    justify-content:space-between;
    width: 1277px;
    margin:90px auto 100px;
}
.topo__texto{
    width: 401px;
    font-size: 18px;
    font-weight: 400;
    line-height:22px;
}
.topo__titulo{
    width:596px;
    font-size: 50px;
    font-weight:700;
    line-height:61px;
}
.topo__avatares{
    position:relative;
    margin-top: 55px;
}
.topo__img1{
    position: absolute;
    top:0;
    left:0;
    z-index:4;
}
.topo__img2{
    position: absolute;
    top:0;
    left:30px;
    z-index:3;
}
.topo__img3{
    position: absolute;
    top:0;
    left:60px;
    z-index:2;
}
.topo__img4{
    position: absolute;
    top:0;
    left:90px;
    z-index:1;
}
.topo__selecionados{
    left: 195px;
    top:50px;
    position: absolute;
}
.topo__selecionados span{
    font-weight: 700;
}
.galeria{
    display: flex;
    gap:16px;
} 
.galeria img{
    border:1px solid white;
    width:307px;
    height:197px;
}
.m-top{
    margin-top:60px;
}
.contagem{
    width:280px;
    height:656px;
    display:flex;
    gap:60px;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border-right:1px solid var(--subtitle-color);
    border-bottom:1px solid var(--subtitle-color);

}
.futuro{
    display: flex;
    flex-wrap: wrap;
}
.contagem div{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.contagem p{
    font-size:50px;
    font-weight:700;
    line-height: 60px;
}
.contagem span{
    font-size:20px;
    font-weight: 700;
    color:var(--subtitle-color);
}
.texto-futuristico{
    display: flex;
    margin-top: 79px;
    
    flex-shrink: 0;
    
    width:934px;
    flex-wrap: wrap;
}
.texto-futuristico img{
    width: 985px;
    height: auto;
    margin-top:71px;
}
.texto-futuristico__link{
    display: block;
    margin-top:60px;
}
.texto-futuristico__esquerda{
    width:384px;
    font-size:18px;
    margin-left:68px;
    margin-right: 126px;
}
.texto-futuristico__direita{
    width: 356px;
}
.populares{
    display: flex;
    flex-wrap:wrap;
}
.populares h1{
    flex-basis:100%;
    
    font-size:50px;
    font-weight:700;
    line-height: 61px;
    margin-top:147px;
    margin-bottom:158px;
}
.astronauta{
    width: 350px;
    margin-bottom:63px;
}
.astronautas__esquerda{
    margin-left:87px;
    width: 634px;
    border-right: 1px solid var(--subtitle-color);
}
.astronauta-titulo{
    font-size:30px;
    font-weight: 400;
    margin-bottom: 44px;
    display: flex;
    justify-content:space-between;
}
.astronauta-nome{
    margin-bottom:26px;
    color:var(--subtitle-color);
    display: flex;
    justify-content:space-between;
}
.astronautas__direita{
    margin-left:210px;
}
.artistas{
    display: flex;
    flex-wrap:wrap;
    gap:111px;
}
.artistas h1{
    flex-basis:100%;
    font-size:50px;
    font-weight:700;
    line-height: 61px;
    margin-top:147px;
    margin-bottom:158px;
    text-align:center;
}
.artista{
    width: 350px;
    height:150px;
    background: var(--card-color);
    display: flex;
    justify-content:center;
    align-items:center;
}
.artista img{
    width: 100px;
    height:100px;
}
.artista .descricao{
    display: flex;
    flex-direction:column;
    margin-left:40px;
}
.nome-artista, .qtd-fotografias{
    line-height: 24px;
}

