:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }
*{
    box-sizing: border-box;
    color: var(--text-color);
    
}
.texto-laranja{
    color: var(--color-logo)
}

body{
    background: url("../assets/background.png");
    height:1000px;
    font-family:'MontSerrat', sans-serif;
}
.cabecalho{
    display: flex;
    width:1277px;
    margin: 57px auto 0;
    justify-content:space-between;
    align-items:center;
}
.cabecalho nav ul{
    display:flex;
    justify-content:space-between;
    width:341px;
}
.cabecalho nav a{
    color:var(--text-color);
    text-decoration:none;
    
    font-size:18px
}
.cabecalho nav a:hover{
    text-decoration: underline;
}
.cabecalho__btn{
    display: flex;
    align-items:center;
    width: 230px;
    height:50px;
}
.cabecalho__btn img{
    width: 30px;
    height:auto;
}
.cabecalho__btn span{
    font-size:16px;
    font-weight:700;
    margin-left:15px;
    color:var(--black-text)
}
.topo{
    display: flex;
    justify-content:space-between;
    width: 1277px;
    margin:90px auto 100px;
}
.topo__texto{
    width: 401px;
    font-size: 18px;
    font-weight: 400;
    line-height:22px;
}
.topo__titulo{
    width:596px;
    font-size: 50px;
    font-weight:700;
    line-height:61px;
}
.topo__avatares{
    position:relative;
    margin-top: 55px;
}
.topo__img1{
    position: absolute;
    top:0;
    left:0;
    z-index:4;
}
.topo__img2{
    position: absolute;
    top:0;
    left:30px;
    z-index:3;
}
.topo__img3{
    position: absolute;
    top:0;
    left:60px;
    z-index:2;
}
.topo__img4{
    position: absolute;
    top:0;
    left:90px;
    z-index:1;
}
.topo__selecionados{
    left: 195px;
    top:50px;
    position: absolute;
}
.topo__selecionados span{
    font-weight: 700;
}
.galeria{
    display: flex;
    gap:16px;
} 
.galeria img{
    border:1px solid white;
    width:307px;
    height:auto;
}
.m-top{
    margin-top:60px;
}
